:root {
  --base100: #212529;
  --base200: #343a40;
  --base900: #f8f9fa;
  --primary100: #fcc419;
  --primary200: #e67700;
  --small-padding: 6px;
  --medium-padding: 10px;
  --large-padding: 20px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--base900);
  background-color: var(--base100);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  height: 100%;
  width: 100%;
}
